.radio-label {
  appearance: none;

  width: 40px;
  height: 40px;

  border: 1px solid var(--accent-9);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &:has(input[type="radio"]:checked) {
    background-color: var(--accent-9);
  }
}
